{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta lang="en">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    </style>

  <!-- change code highlight style just below-->
  <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/default.min.css">
  
  <!-- code highlight source -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>

  <!-- code highlight init -->
  <script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>
    <div class="wrapper">
      <aside class="sidebar column">
        <div class="sidebar-header">
          <div>User</div>
          <div>Search</div>
          <div>Settings</div>
          <a href="{% url 'logout' %}"><div>Log out</div></a>
        </div>      
        
        <ul class="sidebar-tree">
          <div>📝 Your pages:<hr></div>
            {% for page_name in user_pages %}

              {% if page_name.id != page.id %}
                <a href="{% url 'page' page_name.id %}"><li class="tree-item">{{ page_name.title }}</li></a>
              {% else %}
                <a href="{% url 'page' page_name.id %}"><li class="tree-item-current">{{ page_name.title }}</li></a>
              {% endif %}

            {% endfor %}
        </ul>

        <ul class="sidebar-tree">
          <div>📚 External pages:<hr></div>
            {% for page_name in other_pages %}

              {% if page_name.id != page.id %}
                <a href="{% url 'page' page_name.id %}"><li class="tree-item">{{ page_name.title }} - [{{ page_name.owner }}]</li></a>
              {% else %}
                <a href="{% url 'page' page_name.id %}"><li class="tree-item-current">{{ page_name.title }} - [{{ page_name.owner }}]</li></a>
              {% endif %}

            {% endfor %}
        </ul>

        <script src="{% static 'js/tree-view.js' %}"></script>

        <div class="sidebar-footer">
          <a href="/page/create"><div>Add Page</div></a>
        </div>
      </aside>
      
      <div class="page column">
        <div class="page-header">
          <ul class="page-path page-header-elem">
            {% if view_only %}
              <li><a href="#">{{page.owner|safe}}</a></li>
            {% else %}
              <li><a href="#">{{page.owner|safe}} (you)</a></li>
            {% endif %}
            <li><a href="{% url 'page' page.id%}">{{page.title | safe}}</a></li>
          </ul>
        
          <div class="page-header-elem" hidden>
            Dark Mode
          </div>
          
          {% if view_only %}
          <div class="page-header-elem delete-button">
            <a href="#"><b>View only. Changes ignored</b></a>
          </div>
          {% else %}
            <div class="page-header-elem save-button">
              <b onclick="savePage()">Save</b>
            </div>

            <div class="page-header-elem delete-button">
              <a href="/page/{{ page.id }}/delete"><b>Delete</b></a>
            </div>
          {% endif %}

        </div>
        
        <div class="page-wrapper filter">
          <main class="page-main">
            <section class="main-heading">
              <h1 contenteditable="true">{{ page.title }}</h1>
            </section>

            <hr class="divider">
      
            <section class="main-body">
              {{ page.html|safe }}

            </section>

            <script src="{% static 'js/block-dnd.js' %}"></script>
            <script src="{% static 'js/add-remove-blocks.js' %}"></script>
            <script src="{% static 'js/crud-frontend.js' %}"></script>
          </main>
        </div>
      </div>
      
    </div>
  </body>
</html>