{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/login-page.css' %}">
        <title>Erorr</title>
    </head>
    <body>
    <div class="wrap-login">
        <section class="form">
            {% if err == "ownership" %}
                <h2>User "{{ current_user }}" cannot edit "{{ page_title }}" page.</h2>
            {% elif err == "deletion" %}
                <h2>User "{{ current_user }}" cannot delete "{{ page_title }}" page.</h2>
            {% endif %}
            <button id="submit" onclick="window.history.back()">Go back</button>
        </section>
    </div>
    </body>
</html>