{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/login-page.css' %}">
        <title>Honest Work</title>
    </head>
    <body>
    <div class="wrap-login">
        <section class="form">
            <img src="https://i.kym-cdn.com/entries/icons/original/000/028/021/work.jpg">
            <button id="submit" onclick="window.history.back()">Go back</button>
        </section>
    </div>
    </body>
</html>